<script id="tpl_gotoroom221" type="text/x-jquery-tmpl">
Здравейте, ${name}!
<br />Моля, явете се в стая 221 в най-кратък срок.
<br />Отдел Студенти
</script>

<script id="tpl_callroom221" type="text/x-jquery-tmpl">
Здравейте, ${name}!
<br />Моля, свържете се с Отдел Студенти на тел. 02 / 987 55 55 във възможно най-кратък срок.
<br />Отдел Студенти
</script>

<script id="tpl_unpaidtermtax" type="text/x-jquery-tmpl">
Здравейте, ${name}!
<br />Не е получено плащане за Вашата семестриална такса. Моля, платете незабавно.
<br />Отдел Студенти
</script>

<script id="tpl_nextexam" type="text/x-jquery-tmpl">
Здравейте, колеги!
<br />Някой може ли да ми каже кога ще е следващото контролно?
<br />Благодаря предварително.
<br />${name}
</script>

<script id="tpl_nextlecture" type="text/x-jquery-tmpl">
Здравейте, колеги!
<br />Някой знае ли дали следващата лекция ще се проведе?
<br />${name}
</script>
