body {
	background: url('/img/bg.gif') repeat-y center center;
	font-family: "Segoe UI", "Times New Roman", Verdana !important;
}

.our_header {
    /*background: #000;*/
    color: #FFF;
    background: url('/img/header-6messenger.png') no-repeat center center !important;
    height: 70px !important;
    /*no-repeat right -150px  center;*/
}

.remove_margin {
    margin: 0 0 !important;
}

.white_back {
    background: rgba(255,255,255,0.5);
}

.margin_top {
    margin-top:30px;
}

.menu_bottom_border {
    border-bottom: 1px solid #e5e5e5 !important;
    -webkit-border-radius: 4px !important;
}

.accordion-heading .accordion-toggle{
	padding: 0px !important;
}

#footer {
/*	margin-top: 20px;*/
/*	position: relative;*/
    background: #222;
    color: #aaa;
	background: url('/img/footer.png') no-repeat center center !important;
	height: 40px;
}

.contenta-header {
	padding: 7px 10px 2px 10px;
	margin-bottom: 17px;
	height: 40px;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
        color: #aaa;
	text-shadow: none;
}

.contenta-header p {
	font-size: 18px !important;
	text-align: center;
	color: #fff;
}

#down_arrow {
    background: #FFF;
    color: #FFF;
    background: transparent url('/img/SparkEdgeCombined.v1.1.png') center bottom no-repeat;
    padding-bottom: 20px;
    position: relative;
}

.nav.nav-list li a {
	color: #333 !important;
}

.nav.messages li.active a {
	color: white !important;
	background-color: #93e401 !important;
}

.nav.groups li.active a {
	color: white !important;
	background-color: #ffcb00 !important;
}

.accordion-inner {
	border-left: 1px solid #eee !important;
	border-right: 1px solid #eee !important;
	border-top: 0px !important;
	border-bottom: 0px !important;
}

.accordion {
	margin-bottom: 0px !important;
	border-bottom: 1px solid #eee;
}

.remove_border {
    border: 0 !important;
}

.heading-messages {
	background: url('/img/heading-messages.png') no-repeat !important;
}

.heading-groups {
	background: url('/img/heading-groups.png') no-repeat !important;
}
